body {
    color: indigo;
    background-color: #9a7c9e;
    font-family: 'Open Sans',Arial,sans-serif;
    line-height: normal;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: justify;
    height: 100vh;
    overflow: hidden
  }
  #main-doc {
    overflow-y: auto
  }
  #navbar {
    flex: 1 0 10%;
    background-color: hsla(271, 88%, 26%, 1);
    border-right: 1px solid rgba(161, 227, 18, 0.4);
    padding: 1rem
  }
  .wrapper {
    display: flex;
    height: 100%
  }
  #navbar ul {
    list-style: none
  }
  #navbar li {
    border: 2px solid #4d4e53;
    color: #FFFFFF;
    background-color: hsla(271, 88%, 26%, 1);
    transition: opacity 0.5s ease;
    text-align: center;
    justify-content: space-between;
    text-transform: capitalize;
    line-height: normal;
    flex: 1 0 10%;
    position: relative;
    cursor: pointer
  }
  code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: grey;
    padding: 15px;
    border: 2px solid purple;
    margin: 10px;
    border-radius: 15px
  }
  @media (max-width: 500px) {
    .wrapper {
      flex-direction: column-reverse
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between
    }
  }
  .wrapper_inner {
    width: 90%;
    margin: 0px auto
  }body {
    color: indigo;
    background-color: #9a7c9e;
    font-family: 'Open Sans',Arial,sans-serif;
    line-height: normal;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: justify;
    height: 100vh;
    overflow: hidden
  }
  #main-doc {
    overflow-y: auto
  }
  #navbar {
    flex: 1 0 10%;
    background-color: hsla(271, 88%, 26%, 1);
    border-right: 1px solid rgba(161, 227, 18, 0.4);
    padding: 1rem
  }
  .wrapper {
    display: flex;
    height: 100%
  }
  #navbar ul {
    list-style: none
  }
  #navbar li {
    border: 2px solid #4d4e53;
    color: #FFFFFF;
    background-color: hsla(271, 88%, 26%, 1);
    transition: opacity 0.5s ease;
    text-align: center;
    justify-content: space-between;
    text-transform: capitalize;
    line-height: normal;
    flex: 1 0 10%;
    position: relative;
    cursor: pointer
  }
  code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: grey;
    padding: 15px;
    border: 2px solid purple;
    margin: 10px;
    border-radius: 15px
  }
  @media (max-width: 500px) {
    .wrapper {
      flex-direction: column-reverse
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between
    }
  }
  .wrapper_inner {
    width: 90%;
    margin: 0px auto
  }