html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  content:normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Universal Styles */

* {
  background-origin: border-box;
}

body {
  margin: 0;
  font-family: 'Prompt', sans-serif, monospace;
  stroke-dasharray: none;
  color: dimgrey;
  background-color: whitesmoke;
  font-size: 16px;
  background-origin: border-box;
  position: absolute;
  width: 1450px;
}

a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration-line: none;
  font-size: 20px;
  font-weight: bold;
  padding: 16px;

}

.flex-container {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: whitesmoke;
  max-width: 100%
}

h2 {
  font-size: 32px;
}

p {
  font-size: 24px;
text-align: center;
}

hr {
  border: 2px solid gainsboro;
}

/* Header section*/


header.flex-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  width: 100%;
  position: fixed;
  z-index: 1;
  border: none;
}

header.flex-container div.title {
  display: inline-flex;
  flex-flow: row;
  flex-wrap: nowrap;
  flex-grow: 2;
  justify-content: flex-start;
  text-align: start;
  max-width: 500px;
  margin-left: 1em;
}

div.title p {
font-size: 1.5em;
line-height: 1.9;
}

div.title p i {
  text-align: center;
  align-self: center;
  font-weight:bold; 
  color: rgba(0, 0, 0, 0.9);
}

#logo {
  width: max(100px, 18vw);
  background-color:whitesmoke;
  aspect-ratio: 20 / 4;
  padding: 0.3rem;
}

header nav {
  width: 50%;
  min-width: 500px;
  height: 25px;
}

header > nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

header li:hover{
  background-color:rgba(199, 230, 224, 0.8);
}

/* Learn section*/
#banner {
  display: flex;
  position: relative;
  margin-top: 0.9em;
  width: 100%;
  flex-wrap: nowrap;
  align-items: stretch;
  background-color: hsla(0, 0%, 85%, 1);
}

#banner h2 {
  display: flex;
  width: 90%;
  justify-content: center;
  font-size: 2em;
  flex-flow: column;
  text-align: center;
  flex-wrap: wrap-reverse;
  align-items: center;
  padding: 8px 0px;
}


#banner img {
  flex-basis: 60%;
  align-self: center;
  position: relative;
  width: 60%;
  height: auto;
  background-repeat: no-repeat;
  padding: 2em 1.5em;
  background-size: contain;
  margin: 0px;
}

#banner div p {
  display: flex;
  flex-direction: column;
  flex: 1 2;
  justify-content: center;
  width: 90%;
  padding: 8px 0px;
  max-height: 125px;
  background-color: hsla(0, 0%, 85%, 1);
  color: rgb(92, 87, 87);
  text-align: center;
}

div#banner div{
  padding-top: 130px;
  justify-content: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 37%;
}

div#banner div button {
  position: relative;
  width: 25rem;
  padding: 14px 0px;
  margin-top: 30px;
  border: 2px solid slategray;
  margin-bottom: 10px;
  background-color: hsla(3, 20%, 77%, 0.7);
  cursor: pointer;
  transition: all 1s ease-in 200ms;
}

div#banner div button:hover,
a.main_bttn:hover{
  background-color: slategray;
  color:blanchedalmond;
  cursor: pointer;
  width:33rem;
  padding: 16px 0px;
  rotate: 5deg;
  border-radius: 15px;
  border: 4px dotted darkturquoise;
}

a.main_bttn{
color: hsla(0, 2%, 35%, 1);
font-family: 'Prompt', sans-serif, monospace;  
font-size: 2.0em;
font-weight: 500;
letter-spacing: 1.5px;
cursor: pointer;
transition: all 1s ease-in 200ms;
}

/* information Section*/

.information {
  display: flex;
  width: 100%;
  margin: 0;
}

.information-left {
  padding: 32px 24px 32px 24px;
  color: rgb(61, 61, 61);
  width: 62%;
  justify-items: center;
}

.information-left img {
  width: 100%;

}

.information-left h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.quote {
  padding-bottom: 24px;
  font-size: 19px;
  color: rgb(112, 111, 111);
}

.information-left p {
  color: rgb(112, 111, 111);
  line-height: 1.5;
}

/* First Side-bar*/


.information-right {
  width: 38%;
  padding-top: 16px;
  color: rgb(61, 61, 61);
  border-left: whitesmoke solid 1px;
}

.information-right a {
  color: rgb(179, 103, 32);
  text-align: center;
}

.info-sections {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: rgb(229, 226, 226) solid 1px;
  border-top: rgb(229, 226, 226) solid 1px;
  border-left: rgb(229, 226, 226) solid 1px;
  margin-top: 16px;
}

.info-sections:hover {
  background-color: rgba(199, 230, 224, 0.8);
  cursor: pointer;
}

.img-container {
  width: 35%;
  margin-right: 24px;
}

.info-sections img {
  max-width: 100%;
  padding: 16px;
}

.info-sections h4 {
  text-align: center;
  font-size: 24px;
  font-weight: 510;
  margin: 0;
}

.info-sections p {
  color: rgb(112, 111, 111);
  line-height: 1;
  font-size: 1.3em;
}

.img-container .mobile img {
  display: none;
}

/* Start learning inline block*/

.learning {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1em;
  padding-right: 72px;
  padding-left: 72px;
  padding-bottom: 32px;
  background-color: #d9d9d9;
  max-width: 100%;
}



/* Start learning*/

h3.Start {
  position: static;
  text-align: center;
  width: 100%;
  border-top: 10px solid hsla(0, 0%, 85%, 1);
  padding: 2em 0;
  align-self: center;
  font-size: 35px;
  color: hsla(0, 0%, 29%, 1);
  font-weight: bolder;
  font-stretch: 100%;
}


.wrapper {
  width: 1600px;
  display: inline-flex;
  flex-wrap: wrap;
  background-color: #d9d9d9;   
  justify-content: space-evenly;
  align-items: stretch;
}

/* learning section*/

.learning .software,
.learning .design,
.learning .computer-art,
.learning .data,
.learning .Business,
.learning .Marketing {
  position: relative;
  display: block;
  font-family: 'Prompt', sans-serif, monospace;
  font-size:medium;
  font-weight: 300;
  line-height: 1;
  justify-items: normal;
  padding: 0;
  background-color: #f5f5f5;
  margin: 0;
  width: 30%;
  border: 2px solid #d9d9d9;
  text-overflow: scroll;
  

}

.learning img{
width:100%;
padding: 0;
}

.learning p,
h4 {
  padding: 0.4em;
  justify-content: center;
  padding-bottom: 24px;
  color: #949494;
  text-align: center;
}
.learning h4{
  font-weight: 700;
  text-align: center;
}

.learning-mobile a,
.learning-mobile span,
.learning-mobile h3.Start{
  display: none;

}

/* Thesis exhibit*/

.thesis {
  border-bottom: rgb(229, 226, 226) solid 1px;
  border-left: white solid 1px;
  border-right: white solid 1px;
  width: 100%;
  height: auto;

}

.thesis-container {
  position: relative;
  display: inline-flex;
  flex-flow: row;
  max-width: 85%;
  min-width: min-content;
  justify-content: space-between;

}

.thesis-header h2 {
  font-size: 40px;
  font-weight: bold;
  color: rgb(61, 61, 61);
  text-align: center;
  padding-top: 1em;
  position: relative;
  width: 50;
  line-height: 2;
}

.thesis-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 0 24px 32px 24px;
}

.thesis-left h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: rgb(61, 61, 61);
  line-height: 2;
}

.thesis-left p {
  font-size: 19px;
  color: rgb(112, 111, 111);
  line-height: 1.3;
  text-align: justify;
}

video {
  max-width: 100%;
}

.thesis-right {
  display: block;
  flex-direction: column;
  width: 40%;
}

.thesis-right img {
  max-width: 100%;
  padding: 16px;
}

#fisma,
#new-york {
  float: inline-end;

}

.thesis-sections {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: rgb(229, 226, 226) solid 1px;
  border-top: rgb(229, 226, 226) solid 1px;
  border-left: rgb(229, 226, 226) solid 1px;
  margin-bottom: 10px;
}

.thesis-sections h2 {
  line-height: 1.5;
  text-align: center;
  color: rgb(61, 61, 61);
  font-size: 24px;
  font-weight: 510;
  padding-top: 1em;
}

.thesis-sections p {
  color: rgb(112, 111, 111);
  line-height: 1.1;
  padding: 8px 0px;
}

.thesis-sections:hover {
  background-color: rgb(199, 230, 224);
}

/* Footer*/

footer {
  position: relative;
  flex-direction: row;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  
}
footer h5{
  text-align: left;
  font-style: oblique;
  font-weight: 400;
}

footer nav.terms{
  display: inline-flex;
  flex-flow: row nowrap;
  width: 60%;
  justify-content: flex-end;
  align-items: center;
  vertical-align: bottom;
  border-top: none;
}

/* MEDIA QUERY*/

@media only screen and (max-width: 800px) {
  body {
    margin: 0 auto;
    max-width: 50em;
  }

  header.flex-container {
    display: none;
  }

  nav.mobile {
    width: 100%;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: hsla(0, 0%, 85%, 1);
    transition: all 1.5s ease-in-out 400ms;
  }


  div#banner {
    display: block;
    padding: none;
    width: 100%;
  }

  #banner img {
    padding: 0;
    width: 793px;
    display: block;
  }

  div#banner div {
    flex-basis: -webkit-fit-content;
    justify-content: end;
    display: contents;
  }

  div#banner div button {
    margin-left: 110px;
  }

  /*INFORMATION*/

  .information-left {
    display: none;
  }

  .information-right {
    width: 100%;
  }

  .info-sections {
    display: block;
    max-width: 100%;
    border: none;
    padding: 16px;
    justify-content: flex-start;
    align-items: center;
    border-bottom: rgb(229, 226, 226) solid 1px;
    border-top: rgb(229, 226, 226) solid 1px;
    border-left: rgb(229, 226, 226) solid 1px;
    margin-top: 16px;

  }

  .img-container {
    width: 100%;
  }

  .info-sections img.mobile {
    width: 100%;
    display: block;
  }

  #orientation,
  #campus,
  #guest {
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .info-sections h4 {
    text-align: center;
    font-size: 24px;
    font-weight: 510;
    margin: 0;
  }

  .info-sections:hover {
    background-color: rgba(199, 230, 224, 0.7);
    cursor: pointer;
  }

  .info-sections img.desktop {
    display: none;
  }

  section.learning {
    display: none;
  }

  .information-right a {
    color: rgb(179, 103, 32);
    text-align: center;
    display: block;
  }


  /*START LEARNING*/
  section.learning {
    display: none;
  }

  .course-container {
    display: none;
  }


  /*START LEARNING*/

  section.learning{
    display: none;
  }

  .course-container {
    display: none;
  }

  nav.learning-mobile h3.Start {
    display:block;
    position:relative;
    text-align: center;
    border-top: none;
    padding: 2em 0;
    align-self: center;
    font-size: 35px;
    color: hsla(0, 0%, 29%, 1);
    font-weight: bolder;
    font-stretch: 100%;
  }

 nav.learning-mobile {
    display:block ;
    flex-direction: column;
    padding: 32px;

  }

  nav.learning-mobile li,
  nav.learning-mobile li a { 
    display: block;
    margin: 4px auto;
    padding: 12px 8px;
    background-color: rgb(233, 223, 132);
    width: 90%;
    font-size: 24px;
    color: rgb(61, 61, 61);
    border: none;
    cursor: pointer;
    text-align: left;
  }

 .learning-mobile a:hover,
 .learning-mobile li:hover {
    background-color: rgba(199, 230, 224, 0.8);
 }

 /* Thesis-section */
 .thesis-left {
    width: 100%;
    padding: 0;
  }
  .thesis-header h2 {
   font-size: 40px;
    font-weight: bold;
    color: rgb(61, 61, 61);
    text-align: center;
    padding-top: 1em;
    position: relative;
    width: 50;
    line-height: 2;
  }
  .thesis-left h2 {
    display: none;
  }

  .thesis-left p {
    display: none;
  }

  video {
    width: 100%;
    padding-left: 5rem;
  }

  .thesis-right {
    display: none;
  }

  .thesis-right {
    display:none;
  }

  .thesis-right img {
    display:none;
  }

  #fisma,
  #new-york {
    display:none;

  }

  .thesis-sections {
    display:none;
  }

  .thesis-sections h2 {
    display:none;
  }

  .thesis-sections p {
    display:none;
  }

  .thesis-sections:hover {
    display:none;
  }

  /*FOOTER*/

  footer nav.terms{ 
    display: none;
  }

  footer h5{
    text-align: center;
    font-style: oblique;
    font-weight: 400;
    padding: 16px 0px;
  }

}

/* MEDIA QUERY*/

@media only screen and (max-width: 480px) {
  body {
    margin: 0 auto;
    max-width: 50em;
  }

  /*HEADER*/
  header.flex-container {
    display: none;
  }
 

  
 nav.mobile {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    background-color: hsla(0, 0%, 85%, 1)
  }

  nav.mobile:hover{
  transition: all 1.5s ease 400ms;
  }

 nav.mobile a {
    margin: auto;
  }

  .header-right,
  .header-left {
    display: none;
  }

  /*BANNER*/

 div#banner  {
    display: block;
    padding: none;
    width: 100%;
  }

  #banner img {
    padding: 0;
    width: 793px;
    display:contents;
  }
  
  div#banner div{
    flex-basis: -webkit-fit-content;
    justify-content: end;
    display: contents;
  }

  div#banner div button{
    margin-left: 110px;
  } 

  /*INFORMATION*/

  .information-left {
    display: none;
  }

  .information-right {
    width: 100%;
  }

  .information-right a {
    color: rgb(179, 103, 32);
    align-content: center;
    display: block;
  }

  .info-sections {
    display: block;
    max-width: 100%;
    border: none;
    padding: 16px;
  }

  .info-sections:hover {
    background-color: rgb(199, 230, 224);
  }

  #orientation,
  #campus,
  #guest{
    justify-content: center;
  }

 .info-sections h4 {
  text-align: center;
  font-size: 24px;
  font-weight: 510;
  margin: 0;
 }

  .info-sections img.mobile  {
    width: 100%;
    display: block;
  }

 .info-sections img.desktop {
    display: none;
  }


  /*START LEARNING*/
  section.learning{
    display: none;
  }

  .course-container {
    display: none;
  }

 nav.learning-mobile {
    display:block ;
    flex-direction: column;
    padding: 32px;

  }

  nav.learning-mobile h3.Start {
    display:block;
    position:relative;
    text-align: center;
    border-top: none;
    padding: 2em 0;
    align-self: center;
    font-size: 35px;
    color: hsla(0, 0%, 29%, 1);
    font-weight: bolder;
    font-stretch: 100%;
  }
  nav.learning-mobile span,
  nav.learning-mobile span a {
    display: block;
    margin: 8px auto;
    padding: 12px 8px;
    background-color: rgb(233, 223, 132);
    width: 90%;
    font-size: 24px;
    color: rgb(61, 61, 61);
    border: none;
    cursor: pointer;
    text-align: left;
  }

 .learning-mobile a:hover,
 .learning-mobile span:hover {
     background-color: rgba(199, 230, 224, 0.7);
 }

  /*THESIS*/

  .thesis-left {
    width: 100%;
    padding: 0;
  }
  .thesis-header h2 {
    font-size: 40px;
    font-weight: bold;
    color: rgb(61, 61, 61);
    text-align: center;
    padding-top: 1em;
    position: relative;
    width: 50;
    line-height: 2;
  }
  .thesis-left h2 {
    display: none;
  }

  .thesis-left p {
    display: none;
  }

  video {
    width: 100%;
  }

  .thesis-right {
    display: none;
  }

  .thesis-right {
    display:none;
  }
  
  .thesis-right img {
    display:none;
  }
  
  #fisma,
  #new-york {
    display:none;
  
  }
  
  .thesis-sections {
    display:none;
  }
  
  .thesis-sections h2 {
    display:none;
  }
  
  .thesis-sections p {
    display:none;
  }
  
  .thesis-sections:hover {
    display:none;
  }
  /*FOOTER*/

  footer nav.terms{ 
    display: none;
  }

  footer h5{
    text-align: center;
    font-style: oblique;
    font-weight: 400;
    padding: 16px 0px;
    max-width: 480px; 
  }
}
